<body>

<div class="box blueBox"></div>

<h1>Understanding css Positioning</h1>
<p><em>Centering Elements</em> &rsquo;fixes&rsquo; </p>
<li>Elements should have a defined width</li>
<li>margin: [x-axis] [y-axis] ;</li>
<li>margin: [x-axis] auto ; this centers on y-axis</li>


<p><em>Centering Vertical [green box]</em></p>
<li>set position to absolute</li>

<div class="box greenBox"></div>


<p><em>Ultimate x,y Centering [red box]</em></p>
<div class="container">
  <div class="box redBox"></div>
</div>
</body>

