
<nav id="topLinks">
<a routerLink="" style="margin-bottom: 30px">fixed</a>&nbsp;
<a routerLink="/abs" style="margin-bottom: 30px">absolute</a>&nbsp;
<a routerLink="/rel" style="margin-bottom: 30px">relative</a>&nbsp;
<a routerLink="/stat" style="margin-bottom: 30px">stat-inrt</a>&nbsp;
<a routerLink="/float" style="margin-bottom: 30px">floating</a>&nbsp;
</nav>
<div>
<a routerLink="/center" style="margin-bottom: 30px">centering</a>&nbsp;
<a routerLink="/trans" style="margin-bottom: 30px">transit</a>&nbsp;
<a routerLink="/2dtrans" style="margin-bottom: 30px">2d-transforms</a>&nbsp;
</div>

<router-outlet></router-outlet>