<div class="row1">
	<div class="box c1"></div>
	<div class="box c2"></div>
	<div class="box c3"></div>
</div>
<div class="row2">
	<div class="box c4"></div>
	<div class="box c5"></div>
	<div class="box c6"></div>
</div>
<div class="row3">
	<div class="box c7"></div>
	<div class="box c8"></div>
	<div class="box c9"></div>
</div>

   <section>
      <article> 
        <h1>Classical Sketch Gallery</h1> 
		<p>hover and hold your mouse over the images to enlarge the gallery preview</p>	
        <div id="flexGallery">
			<figure class="fig">
				<div class="image01" alt="" ></div>
				<figcaption><em>Heads of the Apostles</em> - Raphael</figcaption>
			</figure>
			<figure class="fig">
				<div class="image02" alt="" ></div>
				<figcaption><em>Battle Scene</em> - Leonardo da Vinci</figcaption>
			</figure>
			<figure class="fig">
				<div class="image03" alt="" ></div>
				<figcaption><em>Head of a Maid</em> - Pontormo</figcaption>
			</figure>
			<figure class="fig">
				<div class="image04" alt="" ></div>
				<figcaption><em>Prophet</em> - Giorgio Vasari</figcaption>
			</figure>
			<figure class="fig">
				<div class="image05" alt="" ></div>
				<figcaption><em>Head of a Maid</em> - Peter Paul Rubens</figcaption>
			</figure>
			<figure class="fig">
				<div class="image06" alt="" ></div>
				<figcaption><em>Woman's Portrait</em> - Andre del Sarto</figcaption>
			</figure>
			<figure class="fig">
				<div class="image07" alt="" ></div>
				<figcaption><em>Shepherd Boy</em> - Giovanni Battista Piazzetta</figcaption>
			</figure>
			<figure class="fig">
				<div class="image08" alt="" ></div>
				<figcaption><em>Battle Scene</em> - Michelangelo</figcaption>
			</figure>
			<figure class="fig">
				<div class="image09" alt="" ></div>
				<figcaption><em>Self Portrait</em> - Rembrandt</figcaption>
			</figure>			
		</div>
   
      </article>         
   </section> 


   <section>
      <article> 
        <h1>Classical Sketch Slides</h1> 
		<p>hover your mouse over the images to view the slideshow</p>	
		<div id="slidecontainer">
			<figure id="slide1" >
				<div class="image04 s" alt=""></div>
				<figcaption><em>Heads of the Apostles</em> - Raphael</figcaption>
			</figure>
			<figure id="slide2">
				<div class="image03 s" alt=""></div>
				<figcaption><em>Prophet</em> - Giorgio Vasari</figcaption>
			</figure>
			<figure id="slide3">
				<div class="image02 s" alt=""></div>
				<figcaption><em>Head of a Maid</em> - Pontormo</figcaption>
			</figure>
			<figure id="slide4">
				<div class="image01 s" alt=""></div>
				<figcaption><em>Battle Scene</em> - Leonardo da Vinci</figcaption>
			</figure>			
		</div>
      </article>         
   </section>   


