.row1{
  /* position: absolute; */
  height: 105px;
  width: 315px;
}

.row2{
  /* position: absolute; */
  height: 105px;
  width: 315px;
}

.row3{
  /* position: absolute; */
  height: 105px;
  width: 315px;
}

.box {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: all 0.2s;
}

.c1 {
  background: maroon;
  position: absolute;
}

.c2 {
  background: purple;
  position: absolute;
  left: 110px;
}

.c3 {
  background: burlywood;
  position: absolute;
  left: 215px;
}

.c4 {
  background: skyblue;
  position: absolute;
}

.c5 {
  background: darkgreen;
  position: absolute;
  left: 110px;
}

.c6 {
  background: goldenrod;
  position: absolute;
  left: 215px;
}

.c7 {
  background: maroon;
  position: absolute;
}

.c8 {
  background: gray;
  position: absolute;
  left: 110px;
}

.c9 {
  background: darkcyan;
  position: absolute;
  left: 215px;
}

.box:hover {
  top: 50px;
  left: 350px;
  width: 300px;
  height: 300px;
  z-index: 99;
  transition: left 2s ease-out, top 2s ease-out, width 3s ease, height 3s ease;
}



/*///////////////////////////////////////////////*/

div#flexGallery {
	position: relative;
	width: 320px;
	height: 320px;
}

.fig:nth-of-type(1) {top: 0px; left: 0px;}
.fig:nth-of-type(2) {top: 0px; left: 105px;}
.fig:nth-of-type(3) {top: 0px; left: 210px;}
.fig:nth-of-type(4) {top: 105px; left: 0px;}
.fig:nth-of-type(5) {top: 105px; left: 105px;}
.fig:nth-of-type(6) {top: 105px; left: 210px;}
.fig:nth-of-type(7) {top: 210px; left: 0px;}
.fig:nth-of-type(8) {top: 210px; left: 105px;}
.fig:nth-of-type(9) {top: 210px; left: 210px;}

.fig div {
	display: block;
	width: 100%;
  height: 100%;
}

.fig {
	position: absolute;;
	cursor: pointer;	
}

.fig figcaption {
	font-family: "Times New Roman", "serif";
	text-align: center;
}

.fig {
   width: 100px;
   height: 100px;
   transition: all 0.2s;
}



.fig:hover {
   width: 400px;
   height: 400px;
   left: 350px;
   top: 0px;
   z-index: 99;	
   transition: left 2s ease-out, top 2s ease-out, width 3s ease, height 3s ease;
}

.fig div {
   box-shadow: 0px 0px 0px black;
   transition: all 0.2s;
}

.fig:hover div {
  box-shadow: 10px -10px 50px black;
  transition: box-shadow 1.5s ease;
}






/*///////////////////////////////////////////////*/

div#slidecontainer figure {left: 0px;}
div#slidecontainer:hover figure {left: 400px;}

div#slidecontainer figure#slide1 {
	z-index: 8;
  transition: left 2s, z-index 2s step-end;
}

div#slidecontainer figure#slide2 {
	z-index: 7;	
  transition: left 2s 2s, z-index 2s step-end 2s;
}

div#slidecontainer figure#slide3 {
	z-index: 6;
  transition: left 2s 4s, z-index 2s step-end 4s;
}

div#slidecontainer figure#slide4 {
	z-index: 5;	
  transition: left 2s 6s, z-index 2s step-end 6s;
}

div#slidecontainer:hover figure#slide1 {z-index: 1;}
div#slidecontainer:hover figure#slide2 {z-index: 2;}
div#slidecontainer:hover figure#slide3 {z-index: 3;}
div#slidecontainer:hover figure#slide4 {z-index: 4;}

div#slidecontainer {
	width: 350px;
	height: 370px;
	background: radial-gradient(rgb(241, 241, 241), rgb(171, 171, 171));
	position: relative;
	margin: 0px;
	cursor: pointer;
}

div#slidecontainer figure {
	width: 350px;
	height: 380px;
	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
}

figure .s {
	display: block;
	width: 350px;
	height: 350px;
}

figure {
  margin: 0px;
}


figure figcaption {
	font-family: "Times New Roman", "serif";
	text-align: center;
	background-color: white;
}

.image01 {
  background: maroon;
}

.image02 {
  background: purple;
}

.image03 {
  background: darkcyan;
}

.image04 {
  background: darkgreen;
}

.image05 {
  background: skyblue;
}

.image06 {
  background: goldenrod;
}

.image07 {
  background: pink;
}

.image08 {
  background: coral;
}

.image09 {
  background: orangered;
}
